@import url('https://fonts.googleapis.com/css?family=Roboto:500,900i');


*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

optgroup:not([label="Винницкая область"]){
	display: none;
}

@media screen and (max-width: 992px) {
	.block_picker{
		margin-top: 15px;
	}
}

@media screen and (max-width: 768px) {
	.container-fluid{
		padding: 0;
	}
	
	.container{
		margin: 0;
		max-width: none;
	}

	.title > h1{
		font-size: 2em;
	}
}

@media screen and (max-width: 576px) {
	.title > h1{
		font-size: 1.5em;
	}
}

#main{
	padding: 0;
	background-color: hsla(0, 0%, 70%, 0.4);
}

#result{
	display: none;
}

.wrapper{
	background: linear-gradient(to top, #D5D5D5 , #F4F4EF, #EAE9E9);
}

.header{
	background-color: hsl(0, 0%, 5%);	
}
.searh_block{
	
}
.block_picker{
	background-color: hsl(0, 0%, 20%); 
	border-radius: 20px;		
}
.result_container{
	/* background-color: hsl(2, 0%, 80%); */
	opacity: 0;
}
.items_container{
	background-color: hsl(0, 0%, 20%);
	border-radius: 0px 0px 20px 20px;
}
.item{
	border-radius: 30px;
	border: 2px solid #313030;
	background-color: hsl(0, 0%, 90%);
}
.result_title{
	background-color: #000000;
	border-radius: 20px 20px 0px 0px;
	color: hsl(0, 0%, 90%);
}
.footer{
	color: hsl(0, 0%, 90%);
	background-color: hsl(0, 0%, 5%);
}
h1{
	color: hsl(0, 0%, 90%);
	font-weight: bold;
	font-style: italic;
}
h2{
	font-style: italic;
}

.cost{
	/* background-color: hsla(0, 0%, 70%, 0.4); */
	padding-top: 20px;
}

.table{
	border: 2px solid black;
}
fieldset > *{
	margin-bottom: 12px;
}

.up{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #9D9696;
	position: fixed;
	display: none;
	opacity: 0.5;
	bottom: 20px;
	right: 20px;
}



